.wrapper{
    
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-left:20px ;
    padding-right:20px ;
}
.toggleText{
    cursor: pointer;
    color: var(--color-primary)
}
.cardWrapper{
    margin-top: 18px;
    padding-left:20px ;
    padding-right:20px ;
}
.wrapper{
    display: flex;
    flex-wrap: wrap;
    gap:40px;
    
}

.filterWrapper{
    margin-top: 15px;
}